@using Radzen.Blazor
@inherits MainLayoutComponent

<RadzenDialog/>
<RadzenNotification/>
<RadzenHeader>
    <ChildContent>
        <div class="northwind-nav">
            <div class="nav-header">
                <div class="header-row">
                    <div>
                        <RadzenSidebarToggle Click="@SideBarToggleClick"/>
                    </div>
                    <div class="header-title">
                        <div class="header-logo">
                            <img src="resources/northwind-logo.svg" alt=""/>
                        </div>
                        <span class="title-separator">|</span>
                        <h1 class="app-title">Northwind App</h1>
                    </div>
                </div>
            </div>
        </div>
    </ChildContent>
</RadzenHeader>
<RadzenBody @ref="Body">
    <ChildContent>
        <RadzenContentContainer Name="main">
            @Body
        </RadzenContentContainer>
    </ChildContent>
</RadzenBody>
<RadzenSidebar @ref="Sidebar" Style="bottom: 0">
    <ChildContent>
        <RadzenPanelMenu Style="height: 100%">
            <ChildContent>
                <RadzenPanelMenuItem Text="Northwind">
                    <RadzenPanelMenuItem Text="Customers" Path="customers" Image="resources/customer.svg"></RadzenPanelMenuItem>
                </RadzenPanelMenuItem>
            </ChildContent>
        </RadzenPanelMenu>
    </ChildContent>
</RadzenSidebar>